[[source]]
url = "https://pypi.finxploit.com"
name = "mypypi"

[packages]
cffi = "*"

[dev-packages]
bump2version = "*"
pytest = "*"                                                                                          
pytest-cov = "*"
pytest-benchmark = "*"
tox = "*"
pylint = "*"
nufft = {editable = true,git = "https://github.com/dfm/python-nufft.git",sys_platform = "!= 'win32'"}
numba = "*"

[requires]
python_version = "3.6.6"
